---
import { ViewTransitions } from 'astro:transitions'
import '@styles/blog.css'

interface Props {
  title?: string
}

const { title } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-900 text-white">
    <main class="mx-auto mb-10 max-w-5xl p-2">
      <slot />
    </main>
  </body>
</html>
